<!--Results-->
<section class="results">
    <div class="result-card" data-automation-id="Notified">
        <header class="candidate entity-header">
            <div class="header-row" data-automation-id="notified-header">
                <i class="icon bhi-outbound-email"></i> <span>Notified</span>
            </div>
        </header>
        <section>
            <novo-table [dataProvider]="notified.rows" [columns]="notified.columns" [config]="config" #messaged>
                <novo-table-actions *ngIf="messaged.selected.length">
                    <button theme="dialogue" icon="bell" (click)="remind(messaged.selected)">Reminder</button>
                </novo-table-actions>
            </novo-table>
        </section>
    </div>
    <div class="result-card" data-automation-id="Interested">
        <header class="candidate entity-header">
            <div class="header-row" data-automation-id="notified-header">
                <i class="icon bhi-candidate"></i> <span>Interested</span>
            </div>
        </header>
        <section>
            <novo-table [dataProvider]="interested.rows" [columns]="interested.columns" [config]="config" #interests>
                <novo-table-actions *ngIf="interests.selected.length">
                    <button theme="dialogue" color="negative" icon="delete-o" (click)="reject(interests.selected)">Reject</button>
                    <button theme="dialogue" color="success" icon="check" (click)="confirm(interests.selected)">Confirm</button>
                </novo-table-actions>
            </novo-table>
        </section>
    </div>
    <div class="result-card" data-automation-id="Confirmed">
        <header class="candidate entity-header">
            <div class="header-row" data-automation-id="notified-header">
                <i class="icon bhi-star-circle"></i> <span>Confirmed</span>
            </div>
        </header>
        <section>
            <novo-table [dataProvider]="confirmed.rows" [columns]="confirmed.columns" [config]="readOnlyConfig"></novo-table>
        </section>
    </div>
    <div class="result-card" data-automation-id="Rejected">
        <header class="job entity-header">
            <div class="header-row" data-automation-id="notified-header">
                <i class="icon bhi-delete-o"></i> <span>Rejected</span>
            </div>
        </header>
        <section>
            <novo-table [dataProvider]="rejected.rows" [columns]="rejected.columns" [config]="readOnlyConfig"></novo-table>
        </section>
    </div>
</section>
